body {
  background-color: var(--third-background-color);
}

/* <weight>: Use a value from 100 to 900 */

.main-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--main-text-color);
}

/* Set navbar styles */
nav {
  display: flex;
  flex-direction: row;
  background-color: var(--main-header-color) !important;

  & ul {
    display: flex;
    justify-content: center;
  }
}

/* Set brand styles (logo) */
nav .navbar-brand {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-optical-sizing: auto;
  color: var(--main-blue) !important;
  font-size: 1.8rem;
}

/* Set nav-link styles */
nav .nav-link {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
  color: var(--main-blue) !important;
  font-size: 1.1rem;
}

nav .nav-link:hover,
nav .navbar-brand:hover {
  color: var(--third-blue) !important;
}

.flash {
  z-index: 1100 !important;
  position: sticky;
  top: var(--full-spacing);
  left: 50%;
  transform: translateX(-50%);
}

.modal-title {
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
}

.modal-title-input {
  display: none;
  font-size: 1.25rem;
}

#delete-event-button {
  display: none;
}
