#calendar {
  background-color: #222831;
  border-radius: 8px;
  padding: 10px;
}

.fc a {
  color: inherit !important;
  text-decoration: none !important;
}

.fc-event:hover {
  background-color: #00ADB5 !important; /* change background on hover */
  color: white !important;              /* change text color on hover */
  cursor: pointer;                      /* show pointer cursor */
  box-shadow: 0 0 8px rgba(0, 173, 181, 0.7); /* subtle glow */
}

.fc-daygrid-day:hover {
  background-color: #bebebe; /* light blue background on hover */
  cursor: pointer;
}
