{% extends "layout.html" %}

{% block title %}
    Timetable
{% endblock %}

{% block main %}

    <div class="main-font" id="calendar"></div>

{% endblock %}

{% block scipt %}
    
    <!-- FullCalendar JS -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth', // month view
            selectable: true,
            headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: [
            { title: 'Event 1', start: '2025-07-05' },
            { title: 'Event 2', start: '2025-07-10', end: '2025-07-12' }
            ]
        });
        calendar.render();
        });
    </script>

{% endblock %}
